$font-family:    'Roboto Slab', Arial, sans-serif;
$font-size:    13px;
$font-size-h2:    28px;
$font-size-h3:    20px;
$font-size-h4:    16px;
$font-size-main-nav:    16px;
$font-size-main-nav-l:	14px;

$white: #fff;
$grey: #666;
$grey-light: #767676;
$black: #000;
$blue: #007BC7;
$blue-light: #09C;

$primary-color: #333;

$link-color: #09C;
$link-color-hover: #1D4482;

$break-xs: 320px;
$break-s: 480px;
$break-l: 768px;
$break-xl: 1200px;